body{
    color: wheat;
    font-family: 'Lato', sans-serif;
    background-color: azure;
    margin-top: 50px;
}

#display, #miniDisplay {
   text-align: right;
   /* vertical-align:text-bottom; */
   width: 320px;
   margin-right: 10px;
   word-wrap: break-word;
   word-break: break-all;
}
 
#miniDisplay {
   padding-top: 20px;
   min-height: 150px;
   font-size: 50px;
   /* line-height: 50px; */
   color: white;
   /* line-height: 170px; */




}
#display {
   min-height: 80px;
   color: wheat;
   margin-bottom: 20px;
   font-size: 40px;
   
}

.calculator {
   border-radius: 60px;
   width: 340px;
   margin-left: auto;
   margin-right: auto;
   background-color: black;
   display: flex;
   align-items: center;
   flex-direction: column; 
   padding: 30px 5px;
   border: 10px solid rgb(0, 169, 225);

}

#calBtn {
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(3, 70px);
    grid-template-rows:repeat(5, 70px);


}

#calBtn > button {
    background-color: rgb(50, 50, 50);
}
.calc{
    display: flex;
    gap: 10px;
}



 #btnZero {
    grid-area: 5 / 1 / 5 / span 2;
 }

 .sideBtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .sideBtn > div >button {
    width: 70px;
    height: 70px;
    background-color: rgb(4, 97, 178);
    font-size: 50px;
 }
 #btnPlus {
    flex: 1 0 90px;
 }
 #btnEql {
    flex: 1 0 90px;

 }
 .sideBtnChild1{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .sideBtnChild2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 0 100px;
 }
 button {
    border-radius: 20px;
    border: 0;
    font-size: 25px;
    color: rgb(7, 137, 243);
    font-weight: 500;
 }



 button:hover {
   opacity: 0.8;
   font-size: 30px;
 }